.card.box(data-id=pessoa._id)
  header
    p.title= pessoa.nome
    p.subtitle.is-size-6.
      #[a(href='http://example.com') mmmok]
      &bull;
      #[span 1]
      &bull;
      #[span= pessoa.idade] anos
  .card-content
    //- Endereço
    p.is-size-7.
      #[span= pessoa.logradouro] #[span= pessoa.numero] #[span= pessoa.complemento]
      #[br]
      #[span= pessoa.bairro] - #[span= pessoa.localidade] - #[span= pessoa.uf]
  .buttons.is-right
    button.button.is-small(
      onclick=`editPessoa(${JSON.stringify(pessoa)})`
    ) Editar
    button.button.is-small.is-danger.is-outlined(
      onclick=`sendRemovePessoa(${JSON.stringify(pessoa._id)})`
    ) Remover
